.site-content{
  max-width: 1500px;
  margin: 30px auto 0 auto;
  padding: 0 30px;
}


#primary{
	width: 75%;
    float: left;
}

.mks_author_widget p{
  padding:0 20px;
}

.mks_author_widget h3{
  text-align: center;
}

.search-form{
  padding:10px 0;
}
.search-field{
  width: 90%;
  margin: 2px auto;
  color: #888;
  border: 1px solid #bbb;
}

input[type="submit"]{
  background: #facfd7;
  border: 1px solid #fce2e5;
  color: #333333;
  margin: 0 auto;
  display: block;

}


#secondary{
	width: 25%;
    float: right;
    margin:30px 0 0 0;
  padding-left: 50px;
}

.widget-title{
	text-align:center;
	margin:0;
	background:#facfd7;
	font-family:'Playfair Display SC', serif;
}

.widget {
	margin: 0 0 1.5em;
	    border: 5px solid #facfd7;


	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
