.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: $color_background_menu;

	ul {
		list-style:none;
		margin:0;
		padding:0;
		text-align:center;

		ul {

			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
              font-size:18px;
              width: 200px;
              color: $color__link;

			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display:inline-block;
		float:none;
      //position: relative;
      //z-index: 100;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
        font-family: 'Cabin', sans-serif;
        font-size:14px;
		text-transform:uppercase;
		display:inline-block;
		text-decoration: none;
        padding: 15px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	//display: block;
}
 .stickytop {
	position:fixed;
	top:0;
	 z-index: 100;
}

.main-navigation .nav-toggle{
  display: none;
}
@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		//display: inline-block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

